body{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;color:#000000;font-weight:500;}
#container {
    width: 1240px;
    height: 810px;
    margin: 20px auto;
    border: solid 1px #000000;
    border-radius: 20px;
    padding: 20px;
    -webkit-box-shadow: 0px 2px 2px 2px #000000;
    box-shadow: 0px 2px 2px 2px #000000;
    background: url('../img/containerWithLogo1280x850.jpg') no-repeat;
}

nav{
    background-color: rgba(255, 255, 255, 0.3);
    border-radius:5px;
    -webkit-box-shadow: 0px 2px 2px 2px #808080;box-shadow: 0px 2px 2px 2px #808080;
    margin:0 100px 0 0;
    padding:10px;
}
.navigation{
    position:relative;
    top:107px;
    left:50px;
}
.oben1 {
    /*margin-left: 800px;*/
    /*margin-top: -60px;*/
}

#content{
    position:relative;
    top:90px;
}

.backcolor{
    background-color: rgba(255, 255, 255, 0.3);
    border-radius:5px;
    -webkit-box-shadow: 0px 2px 2px 2px #808080;box-shadow: 0px 2px 2px 2px #808080;
    margin:0 50px 3px 50px;
    padding-bottom:2px;
}

.center{text-align:center;}
.backwithe{margin:20px auto; width:682px; height:150px;border:solid 1px #808080;border-radius:10px;-webkit-box-shadow: 0px 2px 2px 2px #808080;box-shadow: 0px 2px 2px 2px #808080;background-color:#A5D3F3;}
.backwitheEventHoeher{padding-top:10px; margin:10px auto; width:682px; height:200px;border:solid 1px #808080;border-radius:10px;-webkit-box-shadow: 0px 2px 2px 2px #808080;box-shadow: 0px 2px 2px 2px #808080;padding-left:10px;padding-right:10px;background-color:aliceblue;}
.backwitheEvent {padding-top:10px; margin:20px auto; width:682px; height:200px;border:solid 1px #808080;border-radius:10px;-webkit-box-shadow: 0px 2px 2px 2px #808080;box-shadow: 0px 2px 2px 2px #808080;padding-left:10px;padding-right:10px;background-color:aliceblue;}

.backwitheEventsmaller {
    padding-top:10px; 
    margin:20px auto; 
    width:682px;
    height:150px;
    border:solid 1px #808080;
    border-radius:10px;
    -webkit-box-shadow: 0px 2px 2px 2px #808080;
    box-shadow: 0px 2px 2px 2px #808080;
    padding-left:10px;
    padding-right:10px;
    background-color:aliceblue;
}

.btnstyle{float:right;padding:10px 30px 10px 30px;border-radius:5px;margin-top:-10px;}
.btnstyle:hover{background-color:burlywood;}
.btnstyleHeader{padding:10px;border-radius:5px;}
.btnstyleHeader:hover{background-color:burlywood;}
#header{height:71px;}
.contentScroll {
    padding: 20px;
    width: 1100px;
    height: 490px;
    border: solid 1px #808080;
    overflow-y: scroll;
    overflow-x:hidden;
    border-radius: 10px;
    -webkit-box-shadow: 0px 2px 2px 2px #808080;
    box-shadow: 0px 2px 2px 2px #808080;
    margin: 0 auto;
    /*background-color: #A5D3F3;*/
    background-color: rgba(255, 255, 255, 0.4);
    /*background-color: rgba(58, 123, 165, 0.7);*/
    
}
.centerInput{height:100%;margin: 0 auto;}

/*TABELLEN GESTALTEN IN REGISTRIERUNG*/
.contentReg{
    padding: 20px;
    width: 1100px;
    height: 490px;
    border: solid 1px #808080;
    border-radius: 10px;
    -webkit-box-shadow: 0px 2px 0px 2px #808080;
    box-shadow: 0px 2px 0px 2px #808080;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.3);
    /*background-color: #A5D3F3;*/
}
.regnow{width:235px;height:233px;position:relative;left:510px; bottom:300px;}
.tdpadding{padding-right:20px;padding-left:20px;}
.mylabel{width:250px;padding:5px 10px;}
.mytabeltext{width:250px}
.spaltenabstand{margin-bottom:10px;}

/*LoginStyles*/
.loginFigur{width:240px;height:198px; position:relative;left:500px; bottom:80px; border:solid 2px #000000;border-radius:10px;}
.rounded{
    border-radius:10px;
}
.contentLogin{
    padding: 20px;
    width: 800px;
    height: 300px;
    border: solid 1px #808080;
    border-radius: 10px;
    -webkit-box-shadow: 0px 2px 0px 2px #808080;
    box-shadow: 0px 2px 0px 2px #808080;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.5);
    /*background-color: rgba(58, 123, 165, 0.5);*/
    /*background-color: #A5D3F3;*/
}
/*Regiesrierung Fertig styles*/
/*.controlMeldung{
    position:absolute;
    top:380px;
    left:480px;
    width:400px;
    height:200px;
     border: solid 1px #808080;
    border-radius: 10px;
    -webkit-box-shadow: 0px 2px 0px 2px #808080;
    box-shadow: 0px 2px 0px 2px #808080;
    margin: 0 auto;
    background-color: #fff;
    display:none;
    

}*/
.regmeldung{
    padding: 20px;
    width: 800px;
    height: 300px;
    border: solid 1px #808080;
    border-radius: 10px;
    -webkit-box-shadow: 0px 2px 0px 2px #808080;
    box-shadow: 0px 2px 0px 2px #808080;
    margin: 0 auto;
    background-color: #A5D3F3;

}
.imgEMail{
    margin-left:500px;
    width:165px;
    height:200px;
}

/*Events styles*/
.scrollAddEvent {
    width: 850px;
    height: 400px;
    /*overflow-y: scroll;
    overflow-x:hidden;*/
}
.contentEvent{
    
    padding: 20px;
    width: 1100px;
    height: 470px;
    border: solid 1px #808080;
    border-radius: 10px;
    -webkit-box-shadow: 0px 2px 0px 2px #808080;
    box-shadow: 0px 2px 0px 2px #808080;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.3);
    overflow-y: auto;
    overflow-x:hidden;
}

.linkAsBtn{
    padding:10px;
    border-radius:5px;
    border:solid 1px #000000;
    display:inline-block;
    background-color:lightgray;
    
}
.linkAsBtn:hover{
    background-color:burlywood;
    -webkit-box-shadow: 0px 0px 0px 2px #808080;
    box-shadow: 0px 0px 0px 2px #808080;
}
.linkText{
    color:black;
}

/*ValidationView Styles*/
.val{
    width:400px;
    height:180px;
    border:solid 1px #ddd4d4; 
    border-radius:10px;
    background-color:antiquewhite;  
    margin:90px auto;
    -webkit-box-shadow: 0px 2px 0px 2px #808080;
    box-shadow: 0px 2px 0px 2px #808080;

}