
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMeetsRegFertig.cshtml";
}

<div class="regmeldung">
    <h3 style="text-align:center;">Bitte Fenster schließen und E-Mail Postfach kontrollieren.</h3>
    <img class="imgEMail"src="~/img/email.gif" />
    
</div>

